<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Food Health App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Food Health Classification</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Upload</button>
    </form>

    {% if file_path %}
    <div class="result">
        <h2>Result</h2>
        <img src="{{ url_for('static', filename='uploads/' + file_path.split('/')[-1]) }}" alt="Uploaded Image"
            width="300">

        <p>Predicted Food: <strong>{{ predicted_class }}</strong></p>

        <p>Status:
            {% if health_status == "Healthy" %}
            <strong style="color: green;">{{ health_status }}</strong>
            {% elif health_status == "Unhealthy" %}
            <strong style="color: red;">{{ health_status }}</strong>
            {% else %}
            <strong style="color: gray;">Unknown</strong>
            {% endif %}
        </p>

        <p>Confidence: <strong>{{ confidence }}%</strong></p>
    </div>
    {% endif %}

</body>

</html>
